<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body>

    <!-- ********************************************************************** -->
    <!-- Message Fragment: ausgabe in messenger.html ID:BOXRIGHT                -->
    <!-- Daten zugesendet von MessageController/@PostMapping(fragmentmessages)  -->
    <!-- ********************************************************************** -->

<div data-th-fragment="messagefragment" data-th-if="${nameFragment == 'messagefragment'}">
        <!-- Socket Connect Fehler localisieren/starten: Quelle:messenger.js Zeile: 125 -->
        <!-- #STOMPFEHLER-Fehler Ausgabe: hier unten Zeile: 85 -->
        <script>
        /*<![CDATA[*/

            function stompFehler(){
                //alert('stomp');
                $('#STOMPFEHLER').html('<div class="fehler" style="display: block;">' +
                '<h3>Socket: Verbindung nicht aufgebaut!</h3><small>Quelle:messenger.js Zeile:114</small></div>');
            }

        /*]]>*/
        </script>

<div data-th-if="${meinMessageToken}"><!-- nur auf Leer prüfen -->

    <div class="gridBox" data-th-if="${meinMessageToken.equals(freundMessageToken)}" ><!-- th:if="${messagetoken}" -->

    <!-- Daten zugesendet von MessageController.java: @PostMapping(fragmentmessages)-->
    <div class="messageHead">
         <table border="0" width="100%"  cellpadding="0" cellspacing="0">
         <tr>
             <td width="100" align="center" rowspan="2" >
                 <span class="messageZuruck finger" data-th-onclick="messageZuruck()">&#160; &#60; zuruck</span>
                 <span class="messageSchliessen finger">
                     <a href="/messenger">Schließen</a>
                 </span>
             </td>
             <td align="center">
                 <p class="messageHeadName" data-th-text="${freundPseu}+'/'+${freundToken}"></p>
             </td>
             <td width="100" height="60" valign="middle" align="center"  rowspan="2">
                 <img class="rund" data-th-src="@{${'/img/online.png'}}">
             </td>
         </tr>
         <tr>
             <td align="center" height="25px">
                 <small class="messageHeadLetzteBesuch">zul. online heute um 20:20</small>
             </td>
         </tr>
         </table>


            <!-- STOMP FEHLER AUSGEBEN-->
            <div id="STOMPFEHLER"></div>

    </div><!-- Ende messageHead -->

<!-- MESSAGE ASUGABE -->
    <div class="messageBody">

<!-- 1. Message Ausgabe von Datenbank -->
        <!-- H2:Database Tabelle:MESSAGES id, datum, messagetoken, vorname, name, pseudonym, meinToken, text, role-->
        <div data-th-each="messech : ${gemeinsamemessage}">
            <div data-th-class="${meinToken} == ${messech['meintoken']} ? 'messageBodyMy' : 'messageBodyFreund' ">
                <section></section>
                <nav>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="3">
                                <p data-th-text="${messech['text']}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><!-- toLowerCase() -->
                                <small data-th-text="${messech['name'].length == 0} ? ${messech['pseudonym'].toLowerCase()+'...'} : ${messech['vorname'].toLowerCase()} +' '+ ${messech['name'].toLowerCase()}"></small>
                            </td>
                            <td width="40">
                                <small data-th-text="${messech['datum'].substring(8,14)}"></small><!-- .substring(10,16) -->
                            </td>
                            <td width="20">
                                <img width="15" data-th-src="@{/img/done.png}">
                            </td>
                        </tr>
                    </table>
                </nav>
                <aside></aside>
            </div>
        </div>

<!-- 2. Lief, Message Ausgabe -->
    <div id="CHATBOX">
        <!-- Deklariert in messenger.js Zeile: 105 -->
    </div>

    </div><!-- Ende messageBody -->
<!-- ENDE MESSAGE AUSGABE -->


    <!-- FOOTER: Textarea und senden -->
        <div class="messageFooter">

            <div class="messageFoto">
                <img class="itemCenter finger" th:src="@{/img/file.png}" width="30">

                <!-- ACHTUNG: VERSTECKT  Photo, bilder oder Datei Auswahl anzeigen -->
                <div class="messageKamera">
                    <div class="kameraBox">
                        <div><pre><img width="20" th:src="@{/img/image.png}">&#160;Bild oder Vodeo</pre></div>
                        <div><pre><img width="20" th:src="@{/img/camera.png}">&#160;Kamera</pre></div>
                        <div><pre><img width="20" th:src="@{/img/datei.png}">&#160;Datei</pre></div>
                    </div>
                    <div class="leer1"></div>
                </div>

            </div><!-- Ende messageFoto -->

            <div class="messageText">
                <textarea id="MESSAGETEXT" rows="1" maxlength="5000"  th:onInput="autoRow(this)"
                onkeydown="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                placeholder="Message schreiben" class="messageTextarea" required autofocus></textarea>
            </div>

            <div class="messageSenden">
                <img class="itemCenter finger" src="/img/senden.png" width="30" id="send" th:onClick="sendeMessage([[${meinPseudonym}]],[[${meinToken}]], [[${freundMessageToken}]]);">
            </div>

        </div><!-- ende messageFooter -->

    </div> <!-- Ende gridBox -->

        <!-- Wenn Message Token sind ungleich -->
        <div class="messageUnless"  data-th-if="${meinMessageToken != freundMessageToken}" > <!-- th:unless="${messageToken}" -->
            <p class="freundeFooterNo">Fehler: Message Token stimmt nicht überein</p>
            <p data-th-text="${meinMessageToken}"></p>
            <p data-th-text="${freundMessageToken}"></p>
        </div>

</div><!-- Ende, nur auf Leer prüfen  -->
</div><!-- Ende .messageFragments & if: nameFragment -->

</body>
</html>