<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>

    <!-- ********************************************************************** -->
    <!--                          Allgemein Fragment                            -->
    <!--                                                                        -->
    <!-- H2/Tabelle user:id, bild, datum, email, name, pseudonym, role,         -->
    <!-- telefon, token, vorname                                                -->
    <!-- ********************************************************************** -->
<div data-th-fragment="allgemeinfragment" data-th-if="${fragmentName == 'allgemeinfragment'}">
    <div class="gridBox settingBox">
    <!-- Head(fragment:settingHeadFragment), uncludet von allgemein.html -->
    <div class="settingHead">
        <div data-th-insert="~{/fragments/setting/headsetting :: settingHeadFragment}"></div>
    </div><!-- Ende settingHead-->

    <!-- Allgemein Body -->
    <div class="settingBody">
        <div class="settingTable">
            <div class="leer1">&#160;</div>
            <h2 align="center" data-th-text="${fragmentTitel}"></h2>
            HTTP:
            <div data-th-text="${fragmentHtml}"></div>
            NAME:
            <div data-th-text="${fragmentName}"></div>
        </div><!-- Ende settingTable -->
    </div><!-- Ende settingBody -->

    <!-- Allgemein Footer -->
    <div class="settingFooter">
        <small class="OldSilver">From Bote</small>
    </div>

    </div><!-- Ende gridBox-->
</div><!-- Ende Fragment:Allgemein -->

</body>
</html>