<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

<head>
    <title th:text="${appName}">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/podcasts.png" rel="icon" sizes="32x32" type="image/png">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/javascript/cookie.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery360.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/sockjs-1.4.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/stomp-2.3.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/neuerchat.js}"></script>
</head>
<body>

<noscript>
    <div class="noScript">
        <h3> Seems your browser doesn't support Javascript!
            Websocket relies on Javascript being enabled. Please enable
            Javascript and reload this page!
        </h3>
    </div>
</noscript>


<div class="sliderBox">

    <!-- ********************************** Linke Seite (Chat Freunde) ***************************** -->

    <!-- ***** Header ***** -->

    <div id="FREUNDEBOX" class="freundeBox boxSizing">
        <div class="freundeGrid">

            <div class="freundeHead">
                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50" valign="bottom">
                            &#160;<img src="/img/account.png" width="30">
                        </td>
                        <td>
                            <h3 align="center">Chat</h3>
                        </td>
                        <td width="50" height="46" align="right" valign="bottom">
                            <img src="/img/plusperson.png" width="30" th:onclick="neuerChat([[${meineId}]])">
                            &#160;
                        </td>
                    </tr>
                </table>
            </div><!-- Ende freundeHead -->

            <!-- ***** Body ***** -->

            <!--
            *   DIE JSON-ARRAY(meinefreunde) Werden Von denn MessageController.java ZUGESENDET
            *   von diesem Array werden alle Freunde aufgelistet in mess.html (linke Teil)
            -->
            <div class="freundeBody" >

                <!-- H2:database Tabelle freunde: id, datum, freundetoken, freundpseudonym, meinentoken, meinpseudonym, messagetoken, role -->
                <div id="FREUNDEDATEN" class="freundeDaten" data-th-each=" freunde : ${meinefreunde} ">

                    <!-- Freunde ausgebe in thymeleaf-schleife..  -->
                    <!-- class: freund wird benutzt nur für jQuery function in messenger.js Zeile: 53 -->
                    <!-- die 3 variablen(name, id, token) nicht löschen oder verändern:  -->
                    <div  class="freund" data-th-name="${meineId}"  data-th-id="${freunde['freundetoken']}" data-th-token="${freunde['messagetoken']}">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="45" rowspan="2" align="center">
                                    <span class="freundeBild" data-th-text="${freunde['freundpseudonym']}"></span>
                                </td>
                                <td class="freundeName" data-th-text="${freunde['freundpseudonym']}"></td>
                                <td width="60">
                                    <pre th:text="${freunde['datum'].substring(0,10).replace('-','.')}"></pre>
                                </td>
                                <td width="25" align="center" >
                                    <img width="15" th:src="@{/img/done.png}"  th:alt-title="#{Done}">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" height="40">
                                    <!-- 70 Zeichen -->
                                    <small>Es kann vorkommen, dass das gleiche Zeichen, das wir ersetzen wollen, in...</small>
                                </td>
                                <td width="25">
                                    <span class="freundMessageUngelesen">34</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Ende thymeleaf-schleife -->
                </div><!-- Freunde Daten (schleife)-->

                <!-- Keine Chat vorhanden -->
                <div th:if="${meinefreunde.size == 0}">
                    <p class="freundeNo">Keine Freunde - normal?</p>
                </div>

                <!-- Zum Testen: wird gelöscht von unteren navigation -->
                <div id="auswahlOut" style="position:absolute; bottom: 100px; border: 1px solid red; margin-left: auto; margin-right: auto; "></div>

            </div><!-- Ende freundeBody -->


            <!-- ***** Footer ***** -->

            <div class="freundeFooter">
                <div th:if="${meinefreunde.size > 0}" class="freundeFooterBet">
                    <div>
                        <img width="30" th:src="@{/img/accountblack.png}" id="ACCOUNT" th:onClick="auswahl(this.id)">
                    </div>
                    <div>
                        <img width="30" th:src="@{/img/phone.png}" id="PHONE" th:onClick="auswahl(this.id)">
                    </div>
                    <div>
                        <img width="30" th:src="@{/img/forum.png}" id="FORUM" th:onClick="auswahl(this.id)">
                    </div>
                    <div>
                        <img width="30" th:src="@{/img/setting.png}" id="SETTING" th:onClick="auswahl(this.id)">
                    </div>
                </div>
                <p th:if="${meinefreunde.size == 0}" class="freundeFooterNo">From By Messenger</p>
            </div>

        </div><!-- ende freundeGrid-->
    </div><!-- Ende freundeBox -->


    <!-- ******************** Rechte Seite (message Ausgabe) Fragments: messages ****************** -->

    <div id="MESSAGEBOX" class="messageBox boxSizing">

    <!-- ********************************************************** -->
    <!-- Message Ausgaba                                            -->
    <!-- messagecomponents.html fragment: messagefragment-->
    <!-- ********************************************************** -->

    <div id="MESSAGEFRAGMENT"  th:insert="fragments/messagecomponents :: messagefragment"></div>


    <!-- ********************************************************** -->
    <!-- Neuer Chat                                                 -->
    <!-- ********************************************************** -->

    <div id="NEUERCHAT" th:insert="fragments/messagecomponents :: neuerchat"></div>


    </div><!-- Ende MESSAGEBOX -->

</div><!-- Ende sliderBox -->

<script type="text/javascript" th:src="@{/javascript/messenger.js}"></script>
</body>
</html>