<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

<head>
    <title data-th-text="${appName}">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/podcasts.png" rel="icon" sizes="32x32" type="image/png">
    <link data-th-href="@{/css/style.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/javascript/cookie.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery360.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/sockjs-1.4.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/stomp-2.3.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/zufallColor.js}"></script>
</head>
<body>

<noscript>
    <div class="noScript">
        <h3> Seems your browser doesn't support Javascript!
            Websocket relies on Javascript being enabled. Please enable
            Javascript and reload this page!
        </h3>
    </div>
</noscript>

<div class="sliderBox">

    <!-- ********************************** Linke Seite (Chat Freunde) ***************************** -->

    <!-- ***** Header ***** -->

    <div id="FREUNDEBOX" class="linksBox boxSizing">
        <div class="gridBox">

            <div class="freundeHead">
                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50" align="center">
                            <img data-th-src="@{/img/outperson.png}" class="finger" width="30" data-th-onclick="freundeBearbeiten()">
                        </td>
                        <td>
                            <h3 align="center">Alle Chats</h3>
                            <div align="center">
                                <small class="Gray" data-th-text="${meinedaten.email}"></small>
                            </div>
                        </td>
                        <td width="50" height="46" align="center">
                            <!-- javascript: freunde.js / neuerChat()-->
                            <img data-th-src="@{/img/plusperson.png}" width="30" class="finger" data-th-onClick="neuerChat()" >
                        </td>
                    </tr>
                </table>
            </div><!-- Ende freundeHead -->

            <!-- ***** Body ***** -->

            <!--
            *   DIE JSON-ARRAY(meinefreunde) Werden Von denn MessageController.java ZUGESENDET
            *   @GetMapping(value = {"/", "/messenger"}) Zeile: 58
            *   von diesem Array werden alle Freunde aufgelistet in messenger.html (linke Teil)
            -->
            <div class="freundeBody" >

    <!-- Daten werden mit javascript ins fragment eingebetet: freund.js function bekantenSave(bekantenToken) -->
    <div id="NEUERCHAT"  data-th-insert="/fragments/bekanteneinladung :: werdeeingeladen"></div>

                <!-- H2:database Tabelle freunde: id, datum, freundetoken, freundepseudonym, meinentoken, meinpseudonym, messagetoken, role -->
                <div id="FREUNDEDATEN" class="freundeDaten" data-th-each=" freunde : ${meinefreunde} "
                     data-th-if="${freunde['role'].length == 0}">
                    <!-- Freunde ausgebe in thymeleaf-schleife..  -->
                    <!-- class: freund wird benutzt nur für jQuery function in messenger.js Zeile: 53 -->
                    <!-- die 3 variablen(name, id, token) nicht löschen oder verändern:  -->
                    <div  class="freund" data-th-name="${meineId}"  data-th-id="${freunde['freundetoken']}" data-th-token="${freunde['messagetoken']}">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" data-th-id="${freunde['messagetoken']}">
                            <tr>
                            <!-- Remove -->
                                <td data-th-id="FREUNDLOSCHEN" rowspan="3" width="1" align="center" valign="center" class="finger"
                                    data-th-onClick="freundeRemove([[${freunde['messagetoken']}]])">
                                    <img class="freundeRemove"  width="30" th:src="@{/img/remove.png}">
                                </td>
                            <!-- Bild -->
                                <td width="50" rowspan="3" align="center">
                                    <span data-th-if="${freunde['freundebild'].length == 0}">
                                        <span data-th-id="${'color'+freunde.id}"  class="freundeBild" data-th-text="${freunde.freundepseudonym}"></span>
                                    </span>
                                    <span data-th-if="${freunde['freundebild'].length > 0}">
                                    <img class="rund" data-th-src="@{${'/profilbild/'+freunde.freundebild+'.png'}}">
                                    </span>
                                </td>
                            <!-- Name -->
                                <td class="freundeName">
                                    <span data-th-text="${freunde['freundename'].length == 0} ? ${freunde.freundepseudonym} :
                                    ${freunde.freundevorname}+' '+${freunde.freundename} "></span>
                                    <small class="twilight" data-th-text="${freunde['freundename'].length == 0} ?
                                    '&#91;'+${freunde.freundemail} +' '+ ${freunde.freundetelefon}+'&#93;' : '' " ></small>
                                </td>
                            <!-- Zeit -->
                                <td width="60">
                                    <pre class="OldSilver" data-th-text="${freunde['datum'].substring(0,10).replace('-','.')}"></pre>
                                </td>
                            <!-- Gelesen -->
                                <td width="25" align="center" >
                                    <img width="15" data-th-src="@{/img/done.png}"  th:alt-title="#{Done}">
                                </td>
                            </tr>
                            <tr>
                            <!-- Text -->
                                <td colspan="2" height="40">
                                    <!-- 70 Zeichen -->
                                    <small class="OldSilver">Es kann vorkommen, dass das gleiche Zeichen, das wir ersetzen wollen, in...</small>
                                </td>
                            <!-- Neue Nachricht -->
                                <td width="25">
                                    <span class="freundMessageUngelesen"></span>
                                </td>
                            </tr>
                            <tr>
                            <!-- HR-Linie -->
                                <td colspan="3">
                                    <hr id="FREUNDHR" class="linie" >
                                </td>
                            </tr>
                        </table>
                    <!-- Gelöscht ( nur benachricht ) -->
                        <div class="freundGeloscht" data-th-id="${'OK'+freunde['messagetoken']}">
                            Freund <b data-th-text="${freunde['freundepseudonym']}"></b> Geloscht!
                        </div>
                    </div><!-- Ende freund-->
                    <script th:inline="javascript">
                        // Quelle: zufallColor.js
                        // function für den backgrond-color, hier span Zeile: 84
                         /*<![CDATA[*/
                            var id = [[${freunde.id}]]
                            setRandomColor(id);
                         /*]]>*/
                    </script>

                </div><!-- Ende Freunde Daten (schleife)-->

                <!-- Keine Chat vorhanden -->
                <div data-th-if="${#lists.isEmpty(meinefreunde)}">
                    <p class="freundeNo">Keine Freunde?</p>
                </div>
            </div><!-- Ende freundeBody -->

        <!-- ***** Footer ***** -->

        <div id="FREUNDEFOOTER" class="freundeFooter">

            <!-- Footer Fragment ausgabe: messagecomponents.html Frgment: footerfragment -->
            <div data-th-if="${#httpServletRequest.requestURI == '/messenger' || #httpServletRequest.requestURI == '/'}"
                     data-th-insert="/fragments/footercomponents :: footerfragment"></div>

        </div><!-- Ende freundefooter -->

        </div><!-- ende gridBox-->
    </div><!-- Ende freundeBox -->


    <!-- ******************** Rechte Seite (message Ausgabe) Fragments: messages ****************** -->

    <div id="MESSAGEBOX" class="rechtsBox boxSizing">

    <!-- ****************************************************************** -->
    <!--      2x - Message Ausgabe & Freunde einladen(neuer Chat)           -->
    <!--                                                                    -->
    <!-- Insgesamt werden 2 Fragments  Angezeigt:                           -->
    <!-- 1. data-th-fragment="messagefragment" aus den                      -->
    <!--    messagecomponents.html                                          -->
    <!-- variable ${nameFragment} aus dem MessageController.java Zeile: 125 -->
    <!--                                                                    -->
    <!-- 2. data-th-fragment="neuerchatfragment" aus den                    -->
    <!--    neuerchatcomponents.html                                        -->
    <!-- variable ${nameFragment} aus dem FreundeController.java            -->
    <!-- Zeile: 57 & 156                                                    -->
    <!--                                                                    -->
    <!-- ****************************************************************** -->

        <div id="MESSAGEFRAGMENT" data-th-switch="${nameFragment}">
            <div data-th-case="'messagefragment'"  data-th-insert="/fragments/messagecomponents :: messagefragment"></div>
            <div data-th-case="'neuerchatfragment'"  data-th-insert="/fragments/neuerchatcomponents :: neuerchatfragment"></div>
            <div data-th-case="*">
                <div class="flexCenter" >
                    <img width="128" class="itemMiddle" data-th-src="@{/img/what.png}" alt="Geist">
                </div>
            </div>
        </div>


    </div><!-- Ende #MESSAGEBOX/class: rechtsBox-->

</div><!-- Ende sliderBox -->

<script type="text/javascript" th:src="@{/javascript/messenger.js}"></script>
<script type="text/javascript" th:src="@{/javascript/freunde.js}"></script>

</body>
</html>