<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <title>Einstellung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/snapchat_24.png" rel="icon" sizes="32x32" type="image/png">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="setting">
<h2 align="center">EINSTELLUNGEN</h2>
    <div class="settingKop">
        Photo+emal-adresse
    </div>

    <div class="settingUserName">@ Benutzernamen festlegen</div>

    <!-- weitere einstellungen-->
    <div class="settingBox">

    </div>
    <a href="index">zu messenger</a>
</div>
</body>
</html>