<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/img/podcasts.png" rel="icon" sizes="32x32" type="image/png">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/javascript/cookie.js}"></script>
</head>
<body>

<!-- Platzhalter -->
<div class="leer5">&#160;</div>

<div class="login" id="LOGIN">
  <!-- Code Box -->
  <div id="CODEBOX" class="codeBox">
    <div class="loginBox">
      <div class="loginKop">Telefon Register</div>
      <div class="loginBody">

        <!--
        |------------------------------------------------------------
        |   Überprüfen Browserunterstützung für cookie
        |------------------------------------------------------------
        |
        |   1. Fragment Teil wird von fragments geladen
        |
        -->
        <div class="cookieEnabled" th:insert="~{/fragments/components::cookieenabled}"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
                 cookieEnabled();
            /*]]>*/
        </script>


        <!--
        |--------------------------------------------------------
        |   Fehler Ausgeben
        |--------------------------------------------------------
        |
        |   1. bei Falschen Aktivierung Code eingabe
        |   2. ...
        |
        -->

        <div id="TELINFO" th:class="loginInfo" th:if="${telefonInfo}" th:text="${telefonInfo}" >&#160;</div>
        <div id="TELFEHLER" th:class="loginFehler" th:if="${telefonFehler}" th:text="${telefonFehler}" >&#160;</div>
        <!-- th:if="${}" th:text="${}" -->
        <div class="leer1">&#160;</div>

        <!--
        |--------------------------------------------------------
        |   Aktivierung Code eingabe
        |--------------------------------------------------------
        |
        |   1. bei vertippen die Aktivierung Code werden sie zurückgeleitet
        |      die Seite wird aktualisiert, die Daten sind weg.
        |      mit den if function werden alle Daten wiederherstellt,
        |      zugesendet von RegisterController.java - 'rediAttr.addFlashAttribute("returnMail", saveMail);'
        |      und schließlich in th:value ausgegeben( nach den prüfung auf null reguläre Daten)
        |   2. ...
        |
        -->

        <form name="form" th:action="@{/login/telefonsuccess}" th:object="${code}" method="POST">
          <!-- onsubmit="validateCode()" -->
          <!-- th:action@{/messenger}" -->
          <span  th:if="${returnTelTelefon}"></span>
          <input id="TELTEL" name="telTelefon" type="hidden" th:value="${sendeTelefon == NULL} ? ${returnTelTelefon} : ${sendeTelefon}" >
          <span  th:if="${returnTelDatum}"></span>
          <input id="TELDATUM" name="telDatum" type="hidden" th:value="${sendeDatum == NULL} ? ${returnTelDatum} : ${sendeDatum}">
          <span  th:if="${returnTelName}"></span>
          <input id="TELNAME" name="telName" type="hidden" th:value="${sendeName == NULL} ? ${returnTelName} : ${sendeName}">
          <span  th:if="${returnTelPseudonym}"></span>
          <input id="TELPSEUDO" name="telPseudonym" type="hidden" th:value="${sendePseud == NULL} ? ${returnTelPseudonym} : ${sendePseud}">
          <span  th:if="${returnTelToken}"></span>
          <input id="TELID"  name="telToken" type="hidden" th:value="${sendeToken == NULL} ? ${returnTelToken} : ${sendeToken}">
          <span  th:if="${returnTelCode}"></span>
          <input id="TELCODE" name="telCode" type="hidden" th:value="${sendeCode == NULL} ? ${returnTelCode} : ${sendeCode}" >

          <!-- E-Mail anzeigen -->
          <div class="loginEmail">
            <div class="loginGroup">
              <div class="loginInput">
                <span  th:if="${returnTelTelefon}"></span>
                <input  type="text" class="inputAll" align="center" th:value="${sendeTelefon == NULL} ? ${returnTelTelefon} : ${sendeTelefon}"  required="required" disabled>
              </div>
            </div>
          </div>

          <!-- Code prüfen -->
          <div class="loginEmail">
            <div class="loginGroup">
              <div class="loginInput">
                <div class="loginCode">
                  <div class="codeDiv">
                    <input id="TELCODE1" type="text" class="inputAll inputCode" onkeyup="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length == 1){ document.getElementById('TELCODE2').focus();}"
                           minlength="1" maxlength="1" name="telCodeEins"  required="required" autofocus>
                  </div>
                  <div>&#160;&#160;&#160;&#160;&#160;</div>
                  <div class="codeDiv">
                    <input id="TELCODE2" type="text" class="inputAll inputCode" onkeyup="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length == 1){ document.getElementById('TELCODE3').focus();}"
                           minlength="1" maxlength="1" name="telCodeZwei" placeholder="-" required="required">
                  </div>
                  <div>&#160;&#160;&#160;&#160;&#160;</div>
                  <div class="codeDiv">
                    <input id="TELCODE3" type="text" class="inputAll inputCode" onkeyup="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length == 1){ document.getElementById('TELCODE4').focus();}"
                           minlength="1" maxlength="1" name="telCodeDrei"  placeholder="-" required="required">
                  </div>
                  <div>&#160;&#160;&#160;&#160;&#160;</div>
                  <div class="codeDiv">
                    <input id="TELCODE4" type="text" class="inputAll inputCode" onkeyup="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length == 1){ document.getElementById('TELBUTCODE').focus();}"
                           minlength="1" maxlength="1" name="telCodeVier"  placeholder="-" required="required">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Registrierung Button -->
          <div class="loginGroup">
            <div class="loginInput">
              <button id="TELBUTCODE"  name="telButton" type="submit"  class="loginButton buttonAll buttonBlau" >Registrieren</button>
            </div>
          </div>
        </form>


      </div><!-- /LoginBody -->
    </div><!-- /LoginBox -->
  </div><!-- Ende codeBox -->
</div><!-- Ende Login -->

</body>
</html>
